<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>245363669296-24dutbj8j9mhaq9gah4tng2dk5cn97vl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.245363669296-24dutbj8j9mhaq9gah4tng2dk5cn97vl</string>
	<key>API_KEY</key>
	<string>AIzaSyBgwr_Iplyv1GiNwBbIWaFQHeO4yCXNPSc</string>
	<key>GCM_SENDER_ID</key>
	<string>245363669296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mma.flash</string>
	<key>PROJECT_ID</key>
	<string>mma-flashcards</string>
	<key>STORAGE_BUCKET</key>
	<string>mma-flashcards.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:245363669296:ios:f28d39c0cf8d472b6e70f5</string>
</dict>
</plist>